<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container modal-width">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="text-center modal-title">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}">
            <form name="uploadForm" novalidate>
                <div class="row" ng-if="!addBrands">
                    <div class="form-group div-height">
                        <label class="control-label col-sm-offset-2 col-sm-3">Name</label>
                        <div class="col-sm-6">
                            <input class="col-sm-6 form-control" type="text" ng-model="template.name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group div-height">
                        <label class="control-label col-sm-offset-2 col-sm-3">Description</label>
                        <div class=" col-sm-6">
                            <input class="col-sm-6 form-control" type="text" ng-model="template.desc" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group div-height">
                        <label class="control-label col-sm-offset-2 col-sm-3">Choose Template</label>
                        <div class="col-sm-6">
                            <div class="upload-btn-wrapper">
                                <button class="btn btn-primary col-sm-5" >Upload new Template</button>
                                <input type="file" accept=".xml" file-model="template.file" class="col-sm-4">
                            </div>
                            <div class="button-inline text-margin"> OR </div>
                            <div class="button-inline">
                                <button  type="button" ng-click="skipToRules()" class="btn btn-primary" ng-disabled="uploadForm.$invalid">Use Existing Template</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="template.file" class="text-center">
                        <label class="col-sm-offset-5 col-sm-3" ng-if="template.file">{{template.file.name}}</label>
                    </div>
                </div>
            </form>
            <div class="manage-brands" ng-if="addBrands">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Template</label>
                        <div class="col-sm-7">
                            <ui-select  ng-model="selectedTemplate.selected" theme="bootstrap" title="Choose Existing Template"  ng-disabled="disable">
                                <ui-select-match placeholder="Choose Existing Layout">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices  repeat="layout in allLayouts" position='down'>
                                    <div ng-bind-html="layout.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="rules-wrapper">
                        <div class="rules-heading">Rules
                            <!--<i class="fa fa-plus btn" ng-click="addRule()"> Add Rule</i>--> <!-- remove this css also it is not required-->
                        </div>
                        <div class="form-group brand-layout">
                            <label class="control-label col-sm-3">Brand</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="selectedBrand" theme="bootstrap" title="Choose Brand" on-select="onBrandSelect($item, $model)" ng-disabled="templateInfo.brand" required>
                                    <ui-select-match placeholder="Select Brand">{{selectedBrand}}</ui-select-match>
                                    <ui-select-choices  repeat="brand in allBrands" position='down'>
                                        <div ng-bind-html="brand | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-offset-2 col-sm-3">Name</label>
                            <label class="col-sm-3">Operation</label>
                            <!--<label class="col-sm-3">Value</label>-->
                            <label class="col-sm-3">Options</label>
                        </div>
                        <div ng-repeat="rule in rulesList track by $index">
                            <div class="panel">
                                <!--<div class="form-group">-->
                                <!--<label class="control-label col-sm-3">Name</label>-->
                                <!--<div class=" col-sm-7">-->
                                <!--<input type="text" ng-model="rule.name" class="form-control">-->
                                <!--</div>-->
                                <!--<div class="col-sm-1"><i class="fa fa-times" ng-click="removeRule(rule,$index)"></i></div>-->
                                <!--</div>-->
                                <div class="modal-field-content row">
                                    <input type="text" ng-model="rule.name" class="form-control modal-box col-sm-2 col-sm-offset-1" readonly="readonly">

                                    <div class="modal-box ui-box col-sm-4">
                                        <ui-select  ng-model="rule.operation" theme="bootstrap" title="Choose operation" ng-disabled="disable">
                                            <ui-select-match placeholder="Choose operation">{{rule.operation}}</ui-select-match>
                                            <ui-select-choices  repeat="layout in getAllOperationForAType(rule.type)" position='down'>
                                                <div ng-bind-html="layout | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <!--<input type="text" ng-model="rule.value" class="form-control modal-box col-sm-2">-->
                                    <div ng-form="ruleForm">
                                        <div ng-show="!rule.options.length" class="modal-box ui-box col-sm-4">
                                            <textarea  class="form-control box-height" ng-model="rule.value" ng-required="true"></textarea>
                                        </div>
                                        <div ng-hide="!rule.options.length" class="modal-box ui-box col-sm-4">
                                            <ui-select  ng-model="rule.value" theme="bootstrap" title="Choose option" on-select="onOptionsSelect($item,rule)" ng-required="true">
                                                <ui-select-match placeholder="Choose options">{{rule.value}}</ui-select-match>
                                                <ui-select-choices  repeat="option in rule.options" position='down'>
                                                    <div ng-bind-html="option | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>


                                    <!--<div class="rule-delete col-sm-1 modal-box"><i class="fa fa-times" ng-click="removeRule(rule,$index)"></i></div>
                                    <div class="rule-delete col-sm-1 modal-box"><i class="fa fa-plus btn" ng-click="addRule()"></i></i></div>-->
                                    <div class="col-sm-1">
                                        <i class="fa fa-times col-sm-4" ng-click="removeRule(rule,$index)"></i>
                                        <i class="fa fa-plus col-sm-4" ng-click="addRule()" ng-if="showAddRule($index) && getAvailableRules().length && getAvailableRules().length > 0"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-5 rule-selector-dropdown" ng-if="showRule && getAvailableRules().length && getAvailableRules().length > 0">
                                <ui-select  ng-model="selectedRule.selected" theme="bootstrap" title="Choose operation" ng-disabled="disable" on-select="addRuleToDisplay($item,$model)">
                                    <ui-select-match placeholder="Choose Rule to Add">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices  repeat="rule in getAvailableRules()" position='down'>
                                        <div ng-bind-html="rule.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer"  ng-if="addBrands">
            <button  type="button" ng-click="skipToRules()" class="btn btn-primary">Back</button>
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal" ng-disabled="ruleForm.$invalid && selectedBrand && (btns.name === 'Update' || btns.name === 'Add')">{{btns.name}}</button>
        </div>
        <div class="modal-footer"  ng-show="!addBrands">
            <button   type="button" ng-click="uploadLayout()" class="btn btn-primary" ng-disabled = "((template.file === null && !templateInfo ) || uploadForm.$invalid)">Next</button>
        </div>
    </div>
</div>