<div class="auditLog" ng-controller="auditLogController" ng-init="init()">
    <div class="col-sm-12 text-center header-style">Audit Logs</div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">Statement</label>
                <div class="col-sm-6">
                    <input placeholder="Enter statement No." type="text" class="form-control" theme="bootstrap" ng-model="invoiceNo" ng-change="getLogs()">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">From</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Select From Date" ng-model="fromTime" class="form-control" theme="bootstrap"  datepicker-config ="datepickerConfig" ng-flat-datepicker ng-change="getLogs()">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label col-sm-2">To</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Select To Date" ng-model="toTime" class="form-control" theme="bootstrap" datepicker-config ="datepickerConfig" ng-flat-datepicker ng-change="getLogs()">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">Customer</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Customer No." class="form-control" theme="bootstrap" ng-model="customerID" ng-change="getLogs()">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">Account</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Account No." class="form-control" theme="bootstrap" ng-model="accountNumber" ng-change="getLogs()">
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-horizontal">
            <label class="col-md-2">Records</label>
            <div class="col-md-6">
                <input  type="text" class="form-control text-center" ng-model="pageSize" ng-change="getLogs()">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">Log</label>
                <div class="col-sm-6 change-audit-dropdown-size">
                    <ui-select name="count" ng-model="logType" theme="bootstrap" on-select="setLogType($item)" placeholder="Select Log Type">
                        <ui-select-match allow-clear="true" placeholder="Select Log Type">{{logType}}</ui-select-match>
                        <ui-select-choices repeat="logtype in allLogTypes" position='down'>
                            <div ng-bind-html="logtype | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row form-group">
                <label class="control-label col-sm-2">Legal PartClass</label>
                <div class="col-sm-6 change-audit-dropdown-size">
                    <ui-select name="LegalPartClass" ng-model="LegalPartClass" theme="bootstrap"
                               on-select="onLegalSelect($item, $model)" placeholder="Select Log Type">
                        <ui-select-match allow-clear="true" placeholder="Select Legal Part class">{{LegalPartClass}}</ui-select-match>
                        <ui-select-choices repeat="eachOverview in legalOptions" position='down'>
                            <div ng-bind-html="eachOverview | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table st-table="displayedCollection" st-safe-src="auditLog" class="table">
            <thead>
            <tr>
                <th><span class="pointer">Statement No</span></th>
                <th><span class="pointer">Customer No</span></th>
                <th><span class="pointer">Account No</span></th>
                <th>Action</th>
                <th>Action Type</th>
                <th>Date</th>
                <th>Log Type</th>
                <th>Message</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="logs in displayedCollection">
                <td>{{logs.invoiceNo}}</td>
                <td>{{logs.customerId}}</td>
                <td>{{logs.accountNumber}}</td>
                <td>{{logs.action}}</td>
                <td>{{logs.actionOnType}}</td>
                <td>{{getForamttedDate(logs.dateTime)}}</td>
                <td>{{logs.logType}}</td>
                <td><span class="audit-ellipsis" title="{{logs.msg}}">{{logs.msg || "N/A"}}</span></td>
                <td>{{logs.userName}}</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%" class="text-center">
                        <paginator page-size=pageSize total-pages=totalPages on-page-change="onPageChanged(result)"></paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>