<div class="manage-brands" ng-controller="StateConfigController" ng-init="getStatesConfig()">
    <div uib-alert ng-repeat="alert in alerts" class="alert-width" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
    <div class="col-sm-12 text-center header-style">System Configurations</div>
    <div class="col-sm-4">
        <div class="row form-group">
            <label class="control-label col-sm-3 col-lg-2 text-match search-align">Property</label>
            <div class="col-sm-8 config-align">
                <ui-select ng-model="selectedKey" theme="bootstrap" title="Choose Property" on-select="onPropSelect($item)">
                    <ui-select-match allow-clear="true" placeholder="Select Property">{{selectedKey}}</ui-select-match>
                    <ui-select-choices repeat="eachBrand in configName | filter : $select.search" position='down'>
                        <div ng-bind-html="eachBrand | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table st-table="displayedCollection" st-safe-src="alldata" class="table table-layout">
            <thead>
            <tr>
                <th st-sort="name" class="pointer">Property</th>
                <th>Value</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in displayedCollection">
                <td><span class="pointer" ng-click="updateStateConfig(state)">{{state.name}}</span></td>
                <td>{{state.value}}</td>
                <td ng-click="deleteStateConfig(state)"><i uib-tooltip="Delete" tooltip-placement="bottom" class="fa fa-trash-o redIcon"></i></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addStateConfig()" class="btn btn-primary btn-align">Add Property</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>