<div class="manage-brands" ng-controller="StateConfigController" ng-init="getStatesConfig()">
    <div class="header-text text-center">Configurations</div>
    <div class="col-md-6">
        <div class="row form-group">
            <label class="control-label col-md-2">Key</label>
            <div class="col-md-6">
                <ui-select ng-model="selectedGrids" theme="bootstrap" title="Choose Grid" on-remove="onGridRemoval($item, $model)" on-select="onGridSelect($item, $model)">
                    <ui-select-match placeholder="Select Filter">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="eachBrand in alldata" position='down'>
                        <div ng-bind-html="eachBrand | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <table st-table="displayedCollection" st-safe-src="alldata" class="table">
            <thead>
            <tr>
                <th st-sort="Key">Key</th>
                <th>Value</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in displayedCollection" ng-click="updateStateConfig(state);">
                <td>{{state.name}}</td>
                <td>{{state.value}}</td>
                <td ng-click="deleteStateConfig(state, $event)"><i class="fa fa-trash-o redIcon"></i></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button ng-click="addStateConfig()" class="btn btn-primary btn-align">Add Grid</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>