<div class="manage-brands" ng-controller="StateConfigController" ng-init="getStatesConfig()">
    <div class="header-text text-center">System Configurations</div>
    <div class="col-md-6 ui-select">
        <div class="row form-group">
            <div class='container-fluid typeahead-demo'>
                <label class="control-label col-md-1 key-text">Key</label>
                <input type="text" ng-model="selectedKey" ng-change="showalldata()" typeahead-on-select="showSelectedKey()" typeahead-min-length="0"  uib-typeahead="data for data in dummydata | filter:$viewValue | limitTo:8" class="state-box">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <table st-table="displayedCollection" st-safe-src="alldata" class="table">
            <thead>
            <tr>
                <th st-sort="Key">Key</th>
                <th>Value</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in displayedCollection" ng-click="updateStateConfig(state);">
                <td>{{state.name}}</td>
                <td>{{state.value}}</td>
                <td ng-click="deleteStateConfig(state, $event)"><i class="fa fa-trash-o redIcon"></i></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button ng-click="addStateConfig()" class="btn btn-primary btn-align">Add Configuration</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>