<div class="manage-brands" ng-controller="GridsController" ng-init="getGrids()">
    <div class="col-md-6">
        <div class="row form-group">
            <label class="control-label col-md-2">Grid</label>
            <div class="col-md-6">
                <ui-select multiple ng-model="selectedGrids" theme="bootstrap" title="Choose Grid" on-remove="onGridRemoval($item, $model)"on-select="onGridSelect($item, $model)">
                    <ui-select-match placeholder="Select Filter">{{$item.brand}}</ui-select-match>
                    <ui-select-choices  repeat="eachGrid in grids" position='down'>
                        <div ng-bind-html="eachGrid.brand | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table st-table="displayedCollection" st-safe-src="allGrids" class="table table-align">
            <thead>
            <tr>
                <th st-sort="Brand">Brand</th>
                <th>E-mail Address</th>
                <th >Phone No</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gridItem in displayedCollection" ng-click="updateGrid(gridItem);">
                    <td>{{gridItem.brand}}</td>
                    <td>{{gridItem.email}}</td>
                    <td>{{gridItem.phone}}</td>
                    <td ng-click="deleteGrid(gridItem, $event)"><i class="fa fa-trash-o redIcon"></i></td>
                </tr>
            </tbody>
            <tfoot>
            <!--<tr>-->
                <!--<td colspan="100%" class="text-center">-->
                    <!--<paginator page-size=pageSize total-pages=totalPages on-page-change="onPageChanged(result)"></paginator>-->
                <!--</td>-->
            <!--</tr>-->
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addGrid()" class="btn btn-primary">Add Grid</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>