<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}"  >
            <div class="manage-brands">
                <form class="form-horizontal" >
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="brand">Brand</label>
                        <div class=" col-sm-6">
                            <input type="text" class="form-control" ng-model="brand.brand" id="brand" ng-minlength="1" ng-pattern="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="agreement-no">Agreement No</label>
                        <div class=" col-sm-6">
                            <input type="text"  ng-model="brand.agreementNumber" class="form-control" id="agreement-no" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="service-no">Service level No</label>
                        <div class=" col-sm-6">
                            <input type="text" ng-model="brand.serviceLevel" class="form-control" id="service-no">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="k-id">Prefix KID</label>
                        <div class=" col-sm-6">
                            <input type="text" ng-model="brand.prefixKID" class="form-control" id="k-id" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Kontonummer">Kontonummer</label>
                        <div class=" col-sm-6">
                            <input type="text" ng-model="brand.kontonummer" class="form-control" id="Kontonummer" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Use Barcode</label>
                        <div class=" col-sm-6">
                            <i ng-class="{'icon-align fa fa-check-circle greenIcon eaTrue': brand.useEABarcode === '1' , 'icon-align fa fa-check-circle greenIcon eaFalse' : brand.useEABarcode === '0'}" ng-click="brand.useEABarcode = brand.useEABarcode == '0' ? '1' : '0'"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal">{{btns.name}}</button>
        </div>
    </div>
</div>