<div class="manage-brands" ng-controller="templateAttributeController" ng-init="getRules()">
    <div uib-alert ng-repeat="alert in alerts" class="alert-width" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
    <div class="col-sm-12 text-center header-style">Template Attributes</div>
    <div class="col-sm-4">
        <div class="row form-group">
            <label class="control-label col-sm-3 col-lg-3 search-align text-match">Attributes</label>
            <div class="col-sm-8">
                <ui-select multiple ng-model="selectedRule" theme="bootstrap" title="Choose Attribute" on-remove="onRuleRemoval($item, $model)" on-select="onRuleSelect($item, $model)">
                    <ui-select-match placeholder="Select Attribute">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="eachRule in ruleList | filter : $select.search" position='down'>
                        <div ng-bind-html="eachRule | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-5 col-sm-3 form-horizontal change-dropdown">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="text-match col-sm-6">Records</label>
            <div class="col-sm-6">
                <ui-select name="count" ng-model="pageSize" theme="bootstrap" on-select="onCountSelect($item, $model)">
                    <ui-select-match>{{pageSize}}</ui-select-match>
                    <ui-select-choices  repeat="count in allCounts" position='down'>
                        <div ng-bind-html="count | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table st-table="displayedCollection" st-safe-src="tableRule" class="table table-layout">
            <thead>
            <tr>
                <th st-sort="name"><span class="pointer">Name</span></th>
                <th st-sort="type">Type</th>
                <th st-sort="fieldMapping">Field Mapping</th>
                <th st-sort="">Options</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ruleItem in displayedCollection">
                <td><span ng-click="updateRule(ruleItem)" class="pointer">{{ruleItem.name}}</span></td>
                <td>{{ruleItem.type}}</td>
                <td>{{ruleItem.fieldMapping}}</td>
                <td>
                    <div>
                        <span ng-repeat = "items in ruleItem.options">{{items}}{{$last ? '':', '}}</span>
                    </div>
                </td>
                <td ng-click="deleteRule(ruleItem)"><i uib-tooltip="Delete" tooltip-placement="bottom" class="fa fa-trash-o redIcon"></i></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="pageSize" st-template = './templates/clientPagination/clientPagination.html'></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addRule()" class="btn btn-primary">Add attribute</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>