<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container modal-width">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}">
            <div class="row" ng-if="!addBrands">
                <!--ng-if="items.template.name.length > 0"-->
                <div class="col-sm-offset-1 col-sm-8">
                    <div class="col-sm-6">
                        <input type="text" ng-value="items.template.name" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-value="items.template.desc" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-primary col-sm-12">Upload</button>
                        <input type="file" accept=".xml" file-model="items.template" >
                    </div>
                </div>
            </div> 
            <div class="manage-brands" ng-if="addBrands">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Brand</label>
                        <div class="col-md-7">
                            <ui-select ng-model="selectedBrands" theme="bootstrap" title="Choose Brand" on-select="onBrandSelect($item, $model)" ng-disabled="disable">
                                <ui-select-match placeholder="Select Brand">{{selectedBrands}}</ui-select-match>
                                <ui-select-choices  repeat="brand in allBrands" position='down'>
                                    <div ng-bind-html="brand | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Template</label>
                        <div class="col-sm-7">
                            <div>
                                <div>
                                    <ui-select  ng-model="selectedTemplate.selected" theme="bootstrap" title="Choose Existing Template"  ng-disabled="disable">
                                        <ui-select-match placeholder="Choose Existing Layout">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices  repeat="layout in allLayouts" position='down'>
                                            <div ng-bind-html="layout.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!--<div class="col-sm-2 upload-btn-wrapper" ng-if="selectedTemplate.selected.name.length > 0">-->
                                    <!--<i class="fa fa-external-link" aria-hidden="true"></i>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div col-sm-2>
                            <div class="col-sm-2 upload-btn-wrapper" ng-if="selectedTemplate.selected.name.length > 0" ng-click="downLoadLayout(selectedTemplate.selected.name)">
                                <i class="fa fa-external-link icon-align" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="rules-wrapper" ng-if="rulesList.length !== 0">
                        <div class="rules-heading">Rules
                            <!--<i class="fa fa-plus btn" ng-click="addRule()"> Add Rule</i>--> <!-- remove this css also it is not required-->
                        </div>

                        <div class="row">
                            <label class="col-sm-3 col-sm-offset-2">Name</label>
                            <label class="col-sm-4">Operation</label>
                            <label class="col-sm-3">Value</label>
                        </div>
                        <div ng-repeat="rule in rulesList">
                            <div class="panel">
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label col-sm-3">Name</label>-->
                                    <!--<div class=" col-sm-7">-->
                                        <!--<input type="text" ng-model="rule.name" class="form-control">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-1"><i class="fa fa-times" ng-click="removeRule(rule,$index)"></i></div>-->
                                <!--</div>-->
                                <div class="modal-field-content row">
                                    <input type="text" ng-model="rule.name" class="form-control modal-box col-sm-2 col-sm-offset-1">

                                    <div class="modal-box ui-box col-sm-4">
                                        <ui-select  ng-model="selectedOperation.selected" theme="bootstrap" title="Choose operation" ng-disabled="disable">
                                            <ui-select-match placeholder="Choose operation">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="layout in getAllOperationForAType(rule.type)" position='down'>
                                                <div ng-bind-html="layout | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <input type="text" ng-model="rule.value" class="form-control modal-box col-sm-2">

                                    <div class="rule-delete col-sm-1 modal-box"><i class="fa fa-times" ng-click="removeRule(rule,$index)"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-5 rule-selector-dropdown">
                                <ui-select  ng-model="selectedRule.selected" theme="bootstrap" title="Choose operation" ng-disabled="disable" on-select="addRuleToDisplay($item,$model)">
                                    <ui-select-match placeholder="Choose Rule to Add">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices  repeat="rule in getAvailableRules()" position='down'>
                                        <div ng-bind-html="rule.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer"  ng-if="addBrands">
            <button  type="button" ng-click="skipToRules()" class="btn btn-primary">Back</button>
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal">{{btns.name}}</button>
        </div>
        <div class="modal-footer"  ng-show="!addBrands">
            <button   type="button" ng-click="skipToRules()" class="btn btn-primary">Skip</button>
            <button   type="button" ng-click="uploadLayout()" class="btn btn-primary" ng-disabled = "items.template.name.length === 0">Next</button>
        </div>
    </div>
</div>