<div class="manage-brands" ng-controller="listCtrl" ng-init="getLayouts();">
    <div class="col-md-12">
        <table st-table="displayedCollection" st-safe-src="allLayouts" class="table table-align">
            <thead>
            <tr>
                <th>Brand</th>
                <!--<th width="40px">
                <th width="40px">-->
                <th>Layout Name</th>
                <th>Layout Description</th>
                <th>Version</th>
                <th>Rules Attached</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start = "layoutItem in displayedCollection">
                <td>{{layoutItem.brand}}</td>
                <td>{{layoutItem.name}}</td>
                <td>{{layoutItem.description}}</td>
                <td>{{layoutItem.version}}</td>
                <td ng-click="dropDownList($event,layoutItem)" ng-class="{'disabled' : layoutItem.layoutRule.layoutRuleMapList.length==0}">{{layoutItem.layoutRule.layoutRuleMapList.length}}</td>
                <!--<td ng-click="dropDownList($event,layoutItem)"><i ng-class="{'fa fa-caret-down': dropDown !== layoutItem , 'fa fa-caret-up': dropDown === layoutItem}"></i></td>-->
                <!--<td>{{layoutItem.legalPartClass}}</td>-->
                <!--<td>{{layoutItem.accountCategory}}</td>-->
                <!--<td>{{layoutItem.distributionMethod}}</td>-->
                <!--<td>{{layoutItem.creditLimit}}</td>-->
            </tr>
            <tr ng-repeat-end ng-if="dropDown === layoutItem">
                <td  colspan="3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Operation</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat ="eachRule in layoutItem.layoutRule.layoutRuleMapList">
                            <td>{{eachRule.name}}</td>
                            <td>{{eachRule.operation}}</td>
                            <td>{{eachRule.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <!--<tr>-->
            <!--<td colspan="100%" class="text-center">-->
            <!--<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>-->
            <!--</td>-->
            <!--</tr>-->
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addTemplate()" class="btn btn-primary">Add Template</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>