<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}"  >
            <div class="manage-brands">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Brand</label>
                        <div class="col-md-7">
                            <ui-select ng-model="selectedBrands" theme="bootstrap" title="Choose Brand" on-select="onBrandSelect($item, $model)" ng-disabled="disable">
                                <ui-select-match placeholder="Select Brand">{{selectedBrands}}</ui-select-match>
                                <ui-select-choices  repeat="brand in allBrands" position='down'>
                                    <div ng-bind-html="brand | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Template</label>
                        <div class="col-sm-8 row">
                            <div class="col-sm-8">
                                <ui-select  ng-model="selectedTemplate" theme="bootstrap" title="Choose Existing Template" on-select="onLayoutSelect($item, $model)" ng-disabled="disable">
                                    <ui-select-match placeholder="Choose Existing Layout">{{selectedTemplate.name}}</ui-select-match>
                                    <ui-select-choices  repeat="layout in allLayouts" position='down'>
                                        <div ng-bind-html="layout.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            <div class="col-sm-8" ng-if="items.template.name.length > 0">
                                <input type="text" ng-value="items.template.name" class="form-control" readonly="readonly">
                            </div>
                            <div class="upload-btn-wrapper col-sm-2" ng-if="selectedTemplate.brand.length > 0">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-2" ng-if="selectedTemplate.brand.length > 0 || items.template.name.length > 0">
                                <i class="btn" ng-click="clearTemplate()" aria-hidden="true">Clear</i>
                            </div>


                            <div class="col-sm-1 text-center" ng-if="selectedTemplate.length == 0 && items.template.name.length ==  0">
                                OR
                            </div>

                            <div class="upload-btn-wrapper col-sm-3 " ng-if="selectedTemplate.length == 0">
                                <button class="btn btn-primary">Upload</button>
                                <input type="file" file-model="items.template">
                            </div>

                        </div>
                    </div>
                    <div class="rules-wrapper">
                        <div class="rules-heading">Rules
                            <i class="fa fa-plus btn" ng-click="addRule()"> Add Rule</i>
                        </div>
                        <div ng-repeat="rule in rulesList">
                            <div class="panel">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="account-category">Name</label>
                                    <div class=" col-sm-7">
                                        <input type="text" ng-model="rule.name" class="form-control" id="account-category">
                                    </div>
                                    <div class="col-sm-1"><i class="fa fa-times" ng-click="removeRule(rule,$index)"></i></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Type</label>
                                    <div class=" col-sm-7">
                                        <input type="text" list="typeList" ng-model="rule.type" class="form-control" ng-click="rule.type = ''">
                                        <datalist id="typeList" name="typeList">
                                            <option value="STRING">String</option>
                                            <option value="FLOAT">Float</option>
                                            <option value="INTEGER">Integer</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Field Mapping</label>
                                    <div class=" col-sm-7">
                                        <input type="text" ng-model="rule.fieldMapping" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal">{{btns.name}}</button>
        </div>
    </div>
</div>