<div class="manage-brands" ng-controller="GridsController" ng-init="getGrids()">
    <div uib-alert ng-repeat="alert in alerts" class="alert-width" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
    <div class="col-sm-12 text-center header-style">Grids</div>
    <div class="col-sm-4">
        <div class="row form-group">
            <label class="control-label col-sm-3 col-lg-2 search-align text-match">Grid</label>
            <div class="col-sm-8">
                <ui-select multiple ng-model="selectedGrids" theme="bootstrap" title="Choose Grid" on-remove="onGridRemoval($item, $model)" on-select="onGridSelect($item, $model)">
                    <ui-select-match placeholder="Select Grid">{{$item}}</ui-select-match>
                    <ui-select-choices refresh="syncCall()" refresh-delay="10" repeat="eachBrand in brands | filter : $select.search" position='down'>
                        <div ng-bind-html="eachBrand | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-5 col-sm-3 form-horizontal">
        <label class="text-match search-align col-sm-7">Records per page</label>
        <div class="col-sm-5">
            <input  type="text" class="form-control text-center" ng-model="pageSize">
        </div>
    </div>
    <div class="col-sm-12">
        <table st-table="displayedCollection" st-safe-src="allGrids" class="table">
            <thead>
            <tr>
                <th st-sort="gridName"><span class="pointer">Name</span></th>
                <th>E-mail Address</th>
                <th >Phone No</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gridItem in displayedCollection">
                    <td><span class="pointer" ng-click="updateGrid(gridItem)">{{gridItem.gridName}}</span></td>
                    <td>{{gridItem.email}}</td>
                    <td>{{gridItem.phone}}</td>
                    <td ng-click="deleteGrid(gridItem)"><i uib-tooltip="Delete" tooltip-placement="bottom" class="fa fa-trash-o redIcon"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="pageSize" st-template = './templates/clientPagination/clientPagination.html'></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addGrid()" class="btn btn-primary">Add Grid</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>
