<div ng-controller="drillDownController" ng-init="init()">
    <spinner size="medium" class-name="cover" ng-show="loading"></spinner>
    <div class="col-sm-12 text-center header-style">Overview</div>
    <div class="col-md-12 overview-filters">
        <div class="col-md-4">
            <div class="row form-group">
                <label class="control-label col-md-2">State</label>
                <div class="col-md-6">
                    <ui-select multiple ng-model="states" title="Choose State" on-remove="onStateRemoval($item, $model)"on-select="onStateSelect($item, $model)">
                        <ui-select-match placeholder="Select Filter">{{$item}}</ui-select-match>
                        <ui-select-choices  repeat="eachOverview in possibleStates" position='down'>
                            <div ng-bind-html="eachOverview | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!--<div class="row form-group">
                <label class="control-label col-md-2">Filter</label>
                <div class="col-md-8">
                    <input type="text">
                </div>
            </div>-->
            <div class="row form-group">
                <label class="control-label col-md-2">Invoice</label>
                <div class="col-md-10">
                    <input type="text" theme="bootstrap" ng-model="invoiceNumber" ng-change="getOverviewDetails()">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">
                <label class="control-label col-md-2">From</label>
                <div class="col-md-8">
                    <input type="text" ng-model="fromDate"  datepicker-config ="datepickerConfig" ng-flat-datepicker ng-change="getOverviewDetails()">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-2">Brand</label>
                <div class="col-md-6">
                    <ui-select multiple ng-model="brands" theme="bootstrap" title="Choose State" on-remove="onBrandRemoval($item, $model)"on-select="onBrandSelect($item, $model)">
                        <ui-select-match placeholder="Select Filter">{{$item}}</ui-select-match>
                        <ui-select-choices  repeat="eachBrand in possibleBrands" position='down'>
                            <div ng-bind-html="eachBrand | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-2">To</label>
                <div class="col-md-8">
                   <input type="text" ng-model="toDate"  datepicker-config ="datepickerConfig" ng-flat-datepicker ng-change="getOverviewDetails()">
                   <!--<circulartimepicker ng-model="date1"></circulartimepicker>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 overview-details">
        <table st-table="displayedCollection" st-safe-src="searchResults" class="table">
			<thead>
                <!--<tr>
                    <th>
                        <div class="form-group">
                            <label class="control-label col-md-2">Search </label>
                            <div class="col-md-8">
                            <input placeholder="search firstname" st-search="firstName">
                            </div>
                        </div>
                    </th>
                </tr>-->
                <tr>
                    <th st-sort="customerId">Customer id</th>
                    <th st-sort="accountNumber">Account No</th>
                    <th >Invoice No</th>
                    <th >Distribution Method</th>
                    <th st-sort="amount">Amount</th>
                    <!--<th >Invoice Date</th>-->
                    <th >City</th>
                    <th st-sort="dueDate">Due Date</th>
                    <th st-sort="updateTime">Updated Date</th>
                    <th >Links</th>
                </tr>
            </thead>
			<tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>
                        <span>{{row.customerId}}</span>
                        <span class="clipboard-position fa fa-clipboard" uib-tooltip="Copy to Clipboard" tooltip-placement="bottom" ngclipboard-error="onError(e);" ngclipboard data-clipboard-text="{{row.customerId}}"></span>
                    </td>
                    <td>
                        <span>{{row.accountNumber}}</span>
                        <span class="clipboard-position fa fa-clipboard" uib-tooltip="Copy to Clipboard" tooltip-placement="bottom" ngclipboard-error="onError(e);" ngclipboard data-clipboard-text="{{row.accountNumber}}"></span>
                    </td>
                    <td>
                        <span>{{row.invoiceNumber}}</span>
                        <span class="clipboard-position fa fa-clipboard" uib-tooltip="Copy to Clipboard" tooltip-placement="bottom" ngclipboard-error="onError(e);" ngclipboard data-clipboard-text="{{row.accountNumber}}"></span>
                    </td>
                    <td>{{row.distributionMethod}}</td>
                    <td>{{row.amount}}</td>
                    <td>{{row.city}}</td>
                    <td>{{getForamttedDate(row.dueDate)}}</td>
                    <td>{{getForamttedDate(row.updateTime)}}</td>
                    <td>
                        <!--<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle">
                            </i>
                        </button>-->
                        <div class="row">
                            <i class="fa col-md-2" uib-tooltip="Click to view {{eachPdf.type === 'INVOICE_PDF' ? 'Invoice pdf' : 'Grid pdf'}}" tooltip-placement ="bottom" ng-class="{'fa-file-pdf-o': isInvoicePDF(eachPdf),'fa-file':!isInvoicePDF(eachPdf) }" aria-hidden="true" ng-repeat="eachPdf in row.invoicePdfList | orderBy : 'type'" ng-click="getInvoiceFile(eachPdf.id)"></i>
                        </div>
                        <!--<div class="row">-->
                            <!--<span ng-repeat="eachPdf in row.invoicePdfList track by eachPdf.id">-->
                                <!--<i class="fa col-md-2 fa-file-pdf-o" uib-tooltip="Click to view invoice pdf" tooltip-placement ="bottom" aria-hidden="true" ng-click="getInvoiceFile(eachPdf.id)"></i>-->
                                <!--<i class="fa col-md-2 fa-file" uib-tooltip="Click to view grid pdf" tooltip-placement ="bottom" aria-hidden="true" ng-click="getInvoiceFile(eachPdf.id)"></i>-->
                            <!--</span>-->
                            <!--&lt;!&ndash;<i ng-repeat="eachPdf in row.invoicePdfList" ng-click="getInvoiceFile(eachPdf.id)"></i>&ndash;&gt;-->
                        <!--</div>-->
                    </td>
                </tr>
			</tbody>
            <tfoot>
                <tr>
                    <td colspan="100%" class="text-center">
                        <!--<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>-->
                        <paginator page-size=pageSize total-pages=totalPages on-page-change="onPageChanged(result)"></paginator>
                    </td>
                </tr>
            </tfoot>
		</table>
    </div>
</div>