<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}"  >
            <div class="manage-brands">
                <form name="gridValidations" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="brand">Name</label>
                        <div class=" col-sm-6">
                            <input name="name" type="text" class="form-control" ng-model="grids.gridName" id="brand" ng-minlength="1"  limit-to="100" autofocus required>
                            <span class="error-msg" ng-show="gridValidations.name.$invalid && gridValidations.name.$touched">Field Cannot be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="agreement-no">E-mail</label>
                        <div class=" col-sm-6">
                            <input type="email" name="email" ng-model="grids.email" class="form-control" id="agreement-no"  limit-to="100" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                            <span class="error-msg" ng-show="gridValidations.email.$invalid && gridValidations.email.$touched">Please Enter a valid Email address</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="service-no">Contact No.</label>
                        <div class=" col-sm-6">
                            <input name="contact" type="tel" ng-model="grids.phone" class="form-control" id="service-no" ng-minlength="1" limit-to="25" ng-pattern="/^(\+\d+-?)?(\(\d+\))*[\d-\+]*\d+$/" permit-mask="\d\+\-\" required>
                            <span class="error-msg" ng-show="gridValidations.contact.$invalid && gridValidations.contact.$touched">Please Enter a valid telephone number</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal" ng-disabled="gridValidations.$invalid && (btns.name == 'Update' || btns.name == 'Add')">{{btns.name}}</button>
        </div>
    </div>
</div>