<div class="manage-brands" ng-controller="ManageBrandsController" ng-init="getBrands()">
    <div uib-alert ng-repeat="alert in alerts" class="alert-width" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
    <div class="col-sm-12 text-center header-style">Brands</div>
    <!--<auth func="Afi_Standard">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="row form-group">-->
                <!--<label class="control-label col-sm-3 col-lg-2 text-match search-align">Brand</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<ui-select multiple ng-model="selectedBrands" theme="bootstrap" title="Choose brand" on-remove="onBrandRemoval($item, $model)" on-select="onBrandSelect($item, $model)">-->
                        <!--<ui-select-match placeholder="Select Brand">{{$item}}</ui-select-match>-->
                        <!--<ui-select-choices refresh="syncCall()" refresh-delay="10"  repeat="eachBrand in dropDownData | filter : $select.search" position='down'>-->
                            <!--<div ng-bind-html="eachBrand | highlight: $select.search"></div>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</auth>-->
    <div class="col-sm-4">
        <div class="row form-group">
            <label class="control-label col-sm-3 col-lg-2 text-match">Brand</label>
            <div class="col-sm-8">
                <ui-select multiple ng-model="selectedBrands" theme="bootstrap" title="Choose brand" on-remove="onBrandRemoval($item, $model)" on-select="onBrandSelect($item, $model)">
                    <ui-select-match placeholder="Select Brand">{{$item}}</ui-select-match>
                    <ui-select-choices refresh="syncCall()" refresh-delay="10"  repeat="eachBrand in dropDownData | filter : $select.search" position='down'>
                        <div ng-bind-html="eachBrand | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-5 col-sm-3 form-horizontal change-dropdown">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="text-match col-sm-6">Records</label>
            <div class="col-sm-6">
                <ui-select name="count" ng-model="pageSize" theme="bootstrap" on-select="onCountSelect($item, $model)">
                    <ui-select-match>{{pageSize}}</ui-select-match>
                    <ui-select-choices  repeat="count in allCounts" position='down'>
                        <div ng-bind-html="count | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table st-table="displayedCollection" st-safe-src="tableBrands" class="table table-align">
            <thead>
                <tr>
                    <th class="table-left" st-sort="brand"><span class="pointer">Brand</span></th>
                    <th class="table-left" st-sort="agreementNumber">Agreement No</th>
                    <th>Service Level No</th>
                    <th class="table-left">Prefix KID</th>
                    <th class="table-left" st-sort="kontonummer">Kontonummer</th>
                    <th class="table-left" st-sort="postcode">PostCode</th>
                    <th class="table-left" st-sort="city">City</th>
                    <th class="table-left" st-sort="description">Description</th>
                    <th class="table-left" st-sort="nationalId">National Id</th>
                    <th class="table-left" st-sort="region">Region</th>
                    <th>Use Barcode</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brand in displayedCollection">
                    <td class="table-left"><span class="pointer" ng-click="updateBrand(brand)">{{brand.brand}}</span></td>
                    <td class="table-left">{{brand.agreementNumber}}</td>
                    <td>{{brand.serviceLevel}}</td>
                    <td class="table-left">{{brand.prefixKID}}</td>
                    <td class="table-left">{{brand.kontonummer}}</td>
                    <td class="table-left">{{brand.postcode}}</td>
                    <td class="table-left">{{brand.city}}</td>
                    <td class="table-left">{{brand.description}}</td>
                    <td class="table-left">{{brand.nationalId}}</td>
                    <td class="table-left">{{brand.region}}</td>
                    <td><i ng-class="{'fa fa-check-circle greenIcon eaTrue': brand.useEABarcode === '1' , 'fa fa-check-circle greenIcon eaFalse': brand.useEABarcode === '0'}"></i></td>
                    <td ng-click="deleteBrands(brand)"><i uib-tooltip="Delete" tooltip-placement="bottom" class="fa fa-trash-o redIcon"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12" class="text-center">
                        <div st-pagination="" st-items-by-page="pageSize" st-template = './templates/clientPagination/clientPagination.html'></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addBrand()" class="btn btn-primary">Add Brand</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>