<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}">
            <div class="manage-brands">
                <form name="brandValidations" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="brand">Brand</label>
                        <div class="col-sm-6">
                            <input name="brand" type="text" class="form-control brand" ng-model="brand.brand" id="brand" ng-minlength="1" limit-to="20" permit-mask="\w" ng-pattern="/^$|^[A-Za-z0-9]+/" autofocus required>
                            <span class="error-msg" ng-show="brandValidations.brand.$invalid && brandValidations.brand.$touched">Field cannot be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="agreement-no">Agreement No</label>
                        <div class=" col-sm-6">
                            <input name="agreement" type="tel" step="1" ng-model="brand.agreementNumber" class="form-control" id="agreement-no" ng-minlength="4" limit-to = "4" ng-pattern="/^\d+$/" permit-mask="\d" required>
                            <span class="error-msg" ng-show="brandValidations.agreement.$invalid && brandValidations.agreement.$touched">Field Length should be of four characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="service-no">Service level No</label>
                        <div class=" col-sm-6">
                            <input name="service" type="tel" ng-model="brand.serviceLevel" class="form-control" id="service-no" ng-minlength="1" limit-to = "1" ng-pattern="/^\d$/" permit-mask="\d" required>
                            <span class="error-msg" ng-show="brandValidations.service.$invalid && brandValidations.service.$touched">Field cannot not be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="k-id">Prefix KID</label>
                        <div class=" col-sm-6">
                            <input name="prefixId" type="tel" ng-model="brand.prefixKID" step="1" class="form-control" id="k-id" ng-minlength="3" limit-to="3" ng-pattern="/^\d+$/" permit-mask="\d" required>
                            <span class="error-msg" ng-show="brandValidations.prefixId.$invalid && brandValidations.prefixId.$touched">Field Length should be of three characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Kontonummer">Kontonummer</label>
                        <div class=" col-sm-6">
                            <input name="Kontonummer" type="text" ng-model="brand.kontonummer" class="form-control" id="Kontonummer" limit-to="20" ng-minlength="1" ng-pattern="/^((\d+\.)*)?\d+$/" permit-mask="\d\." required>
                            <span class="error-msg" ng-show="brandValidations.Kontonummer.$invalid && brandValidations.Kontonummer.$touched">Field should start and end in numerals with decimals in between</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="postcode">postcode</label>
                        <div class=" col-sm-6">
                            <input name="postcode" type="text" ng-model="brand.postcode" class="form-control" id="postcode" limit-to="20" ng-minlength="1"  permit-mask="\d\.">
                            <!--<span class="error-msg" ng-show="brandValidations.postcode.$invalid && brandValidations.Kontonummer.$touched">Field cannot be empty</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="City">City</label>
                        <div class=" col-sm-6">
                            <input name="City" type="text" ng-model="brand.city" class="form-control" id="City" limit-to="50" ng-minlength="1" permit-mask="\w" ng-pattern="/^$|^[A-Za-z0-9]+/">
                            <!--<span class="error-msg" ng-show="brandValidations.city.$invalid && brandValidations.city.$touched">Field cannot not be empty</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="description">Description</label>
                        <div class=" col-sm-6">
                            <input name="description" type="text" ng-model="brand.description" class="form-control" id="description" limit-to="50" ng-minlength="1" permit-mask="\w" ng-pattern="/^$|^[A-Za-z0-9]+/">
                            <!--<span class="error-msg" ng-show="brandValidations.description.$invalid && brandValidations.description.$touched">Field cannot not be empty</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="nationalId">National Id</label>
                        <div class=" col-sm-6">
                            <input name="nationalId" type="text" ng-model="brand.nationalId" class="form-control" id="nationalId" limit-to="50" ng-minlength="1" permit-mask="\d\.">
                            <!--<span class="error-msg" ng-show="brandValidations.nationalId.$invalid && brandValidations.nationalId.$touched">Field cannot not be empty</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="region">Region</label>
                        <div class=" col-sm-6">
                            <input name="region" type="text" ng-model="brand.region" class="form-control" id="region" limit-to="50" ng-minlength="1" permit-mask="\w" ng-pattern="/^$|^[A-Za-z0-9]+/">
                            <!--<span class="error-msg" ng-show="brandValidations.region.$invalid && brandValidations.region.$touched">Field cannot not be empty</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Use Barcode</label>
                        <div class=" col-sm-6">
                            <i ng-class="{'icon-align fa fa-check-circle greenIcon eaTrue': brand.useEABarcode === '1' , 'icon-align fa fa-check-circle greenIcon eaFalse' : brand.useEABarcode === '0'}" ng-click="brand.useEABarcode = brand.useEABarcode == '0' ? '1' : '0'"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal" ng-disabled="brandValidations.$invalid && (btns.name == 'Update' || btns.name == 'Add')">{{btns.name}}</button>
        </div>
    </div>
</div>