<div class="modal fade {{options.classes.body}}  modal-wrapper" ng-class="{'modal-without-header': !options.header, 'modal-with-header': options.header}">
    <div ng-if="!options.header" class="close-modal " ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</div>
    <div class="modal-dialog modal-content-container">
        <div class="modal-header" ng-if="options.header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">{{options.header}}</h4>
        </div>
        <div class="modal-body {{options.classes.modalBody}}"  >
            <div class="manage-brands">
                <form name="ruleValidations" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Name</label>
                        <div class="col-sm-6">
                            <input name="name" type="text" class="form-control" ng-model="rule.name" id="name" ng-minlength="1">
                            <span ng-show="ruleValidations.name.$invalid && ruleValidations.name.$touched">Field cannot be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Type</label>
                        <div class="col-sm-6">
                            <select ng-model="rule.type" ng-options="types for types in type" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Field-Mapping">Field Mapping</label>
                        <div class="col-sm-6">
                            <input name="field" type="text" ng-model="rule.fieldMapping" class="form-control" id="Field-Mapping" ng-minlength="1">
                            <span ng-show="ruleValidations.field.$invalid && ruleValidations.field.$touched">Field cannot be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="options">Options</label>
                        <div class="col-sm-6">
                            <textarea name="options" ng-model="rule.options" id="options"  limit-to="500" class="form-control" rows="4"  ng-pattern="/^\w(.*\w)?$/"></textarea>
                            <span class="error-msg" ng-show="ruleValidations.options.$invalid">Field should not start and end with comma's</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button  ng-repeat="btns in  options.conFirmBtnText" type="button" ng-click="dismissModal(btns.name)" class="btn btn-primary" data-dismiss="modal" ng-disabled="ruleValidations.$invalid && (btns.name == 'Update' || btns.name == 'Add')">{{btns.name}}</button>
        </div>
    </div>
</div>