<div class="col-md-3 state-card">
    <md-card md-theme="$ctrl.theme" md-theme-watch> 
        <md-card-title layout="row">
            <md-card-title-text layout-align="start">
                <span class="md-headline" layout-align="center">{{$ctrl.processingState.label}}</span>
            </md-card-title-text>
            <div layout-align="end" >
                <i class="fa fa-info-circle" uib-tooltip="Records in the system which are {{$ctrl.processingState.label}}" aria-hidden="true"></i>
            </div>
        </md-card-title>
        <md-card-content>
            <div> 
            <span odometer="$ctrl.processingState.value" odometer-options="$ctrl.odometerOptions"/>
            </div>
        </md-card-content>    
        <md-card-actions layout="row" >
                <md-card-title layout-align="end">
                    <i ng-class="{'hide-link' : $ctrl.processingState.label === 'Pending'}"  ng-click="$ctrl.processingState.label === 'Pending' || $ctrl.openDetailedView()" class="fa fa-external-link" uib-tooltip="View invoices which are {{$ctrl.processingState.label}}" tooltip-enable="$ctrl.processingState.label !== 'Pending'" aria-hidden="true"></i>
                </md-card-title>
        </md-card-actions>
    </md-card>
</div>