<nav class="navbar navbar-inverse bg-brand-color">
    <div class="container-fluid">
        <div class="row">
            <div class="brand-logo">
                <div class="menu-bar">
                    <i class="fa fa-bars" ng-click="$ctrl.showMenu = true"></i>
                </div>
                <div class="company-logo" ng-click="$ctrl.navigateTo()">
                    <span><img src="assets/images/svg/logof.svg"></span>
                    <span>IM</span>
                </div>
            </div>
            <div class="nav-wrapper" ng-show="$ctrl.showMenu" ng-click="$ctrl.showMenu = false">
                <div class="left-panel-navbar" ng-show="$ctrl.showMenu">
                    <ul>
                        <li class="company-nav-logo">
                            <div ng-click="$ctrl.navigateTo('home')">
                                <div><img src="assets/images/svg/logof.svg" ng-click="$ctrl.navigateTo('home')"></div>
                                <div><b>IM</b></div>
                            </div>
                            <i class="fa fa-times close-menu" ng-click="$ctrl.showMenu = !$ctrl.showMenu"></i>
                        </li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'home'}" ng-click="$ctrl.navigateTo('home')">Dashboard</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'overview'}" ng-click="$ctrl.navigateTo('overview')">Overview</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'listBrands'}" ng-click="$ctrl.navigateTo('listBrands')">Brands</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'listGrid'}" ng-click="$ctrl.navigateTo('listGrid')">Grids</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'templates'}" ng-click="$ctrl.navigateTo('templates')">Template Management</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'rule'}" ng-click="$ctrl.navigateTo('rule')">Template Attributes</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'audit_log'}" ng-click="$ctrl.navigateTo('audit_log')">Audit Logs</span></li>
                        <li><span ng-class="{'active': $ctrl.activeMenu == 'state_config'}" ng-click="$ctrl.navigateTo('state_config')">System Configurations</span></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul>
                    <li ng-hide="true">
                        <i ng-click="$ctrl.isDashbordLive = !$ctrl.isDashbordLive" class="fa fa-2x animated" ng-class="{'fa-play-circle': !$ctrl.isDashbordLive, 'fa-pause-circle' : $ctrl.isDashbordLive}"></i>
                    </li>
                    <li>
                        <i ng-click="$ctrl.resetDashboard()" class="fa fa-2x fa-retweet  " ng-class="{'disableReset' :$ctrl.disableReset,'faa-flash animated':$ctrl.disableReset}" uib-tooltip="{{$ctrl.disableReset ? 'Loading file from AFI' : 'Click to process a file from AFI'}}"  tooltip-placement="bottom" ng-disabled="$ctrl.disableReset"></i>
                    </li>
                    <li>
                        <!--<div class="pulse fa fa-spin fa-genderless" title="{{$ctrl.disableReset ? 'Inactive' : 'Active'}}"></div>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>