<div class="manage-brands" ng-controller="ruleController" ng-init="getRules()">
    <div class="col-sm-12 text-center header-style">Template Rules</div>
    <div class="col-md-6">
        <div class="row form-group">
            <label class="control-label col-md-1 text-center text-match">Rules</label>
            <div class="col-md-6">
                <ui-select multiple ng-model="selectedRule" theme="bootstrap" title="Choose Rule" on-remove="onRuleRemoval($item, $model)" on-select="onRuleSelect($item, $model)">
                    <ui-select-match placeholder="Select Rule">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="eachRule in ruleList | filter : $select.search" position='down'>
                        <div ng-bind-html="eachRule | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table st-table="displayedCollection" st-safe-src="tableRule" class="table table-layout">
            <thead>
            <tr>
                <th st-sort="name" class="pointer">Name</th>
                <th st-sort="type">Type</th>
                <th st-sort="fieldMapping">Field Mapping</th>
                <th st-sort="">Options</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ruleItem in displayedCollection" ng-click="updateRule(ruleItem);">
                <td>{{ruleItem.name}}</td>
                <td>{{ruleItem.type}}</td>
                <td>{{ruleItem.fieldMapping}}</td>
                <td>{{ruleItem.options}}</td>
                <td ng-click="deleteRule(ruleItem, $event)"><i uib-tooltip="Delete" tooltip-placement="bottom" class="fa fa-trash-o redIcon"></i></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <button ng-click="addRule()" class="btn btn-primary">Add Rule</button><!-- modal opens upon clicking of add brand -->
        </div>
    </div>
</div>