$brand-color : #AE200A;
$btn-click-color : #c34506;
$table-color : #E8E8E8;
$white: white;
$red : #ff0000;
$green : green;
$grey : #696969;
$hover-color : #6600FF;
$black : black;
$light-grey : #d1d1d1;