@import 'base';
.attachment-manager{
  .margin-download{
    margin-left: 63px;
  }

  .align-attachment-preview{
    margin-left: 20px;
    &:focus{
      outline: none;
    }
  }
}


.attachment-manager-popup{
  .change-dropdown-size{
    ul{
      width: 110%;
    }
  }
}
