save-exact=true
_auth=amVua2luczpBUDJSYW5rZERtYUtFbWNNbVdTbmRMVjV6WEUzd0p1b3pGRTZqb2p5VDhXWUpKOHhDVVVIYzE1OG1naWZaS1RCNVEzUHJtVDdFWVBWQ21tZ2Vv
email=fjordkraft@miles.no
always-auth=true
registry=https://milesfk.jfrog.io/milesfk/api/npm/npm