@import 'base';
.manage-brands{
  .icon-align{
    margin-top: 10px;
    &:focus{
      outline: none;
    }
  }
  .table-align{
    th,tr,td{
      text-align: center;
      outline: none;
    }
    tr.active td{
      background: skyblue;
    }
  }
  .btn-align{
    margin: 0 10px 40px 0;
  }

  .ui-select{
    margin : 20px auto;
    .key-text{
      position: relative;
      color: $brand-color;
      right: 7px;
      top: 3px;
    }
    .state-box{
      min-width: 231px;
    }
  }
}