@import 'base';
.bg-brand-color{
  background-color: $brand-color;
}
.modal-wrapper {
  .modal-dialog {
    max-width: 100%;
  }
  &.manage-brand {
    margin: 10px auto;
    .modal-content-container{
      background: white;
      border-radius: 6px;
    }
  }
  &.modal-without-header{
    .modal-body-content {
      height:88vh;
    }
  }
  &.modal-with-header{
    .modal-body-content {
      height: 80vh;
    }
  }
  .close-modal {
    position: fixed;
    right: 30px;
    top: 30px;
    height: 45px;
    width: 45px;
    font-size: 45px;
    color: red;
    background: white;
    line-height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    text-align: center;
    border-radius: 50%;
  }
}
.ninety-perc-height
{
  height:90vh;
}
//
//.btn{
//  float : right;
//  background: $brand-color;
//  &:hover,&:active,&:focus{
//    background: $btn-click-color;
//  }
//}
.redIcon{
  color: red;
  font-size: 19px;
}
.greenIcon{
  font-size: 19px;
  &.available{
    color: green;
  }

}

.cover-space{
  width:100%;
  height: 100%;
}
.bg-dark-purple-color{
  background-color: #4527a0;
}
.bg-dark-red-color{
  background-color: #c41331;
}
.bg-dark-green-color{
  background-color: #268965;
}
.odometer.odometer-theme-plaza{
  background-color: inherit;
}
// .ui-select-container.open{
//   input.form-control:focus{
//     border-color: $brand-color;
//   }
// }
.ui-select-bootstrap{ 
  .ui-select-choices-row.active{
    >span{
      background-color : $brand-color;
    }
  }
}
table {
  thead {
    th{
      color: $brand-color;
    }
  }
}
.ng-flat-datepicker {
  table{
    tbody {
      tr.days{ 
          .day-item:hover{
            background-color: $brand-color;  
          }
      }
      tr {
        td.day-item.isSelected{
          background-color: $brand-color;
        }
      }
    }
  }
  .ng-flat-datepicker-table-header-bckgrnd {
    background-color: $brand-color;
  }
  .day-item.isSelected{
    background-color: $brand-color;
  }
  .ng-flat-datepicker-custom-select-title{
    border-color: $brand-color
  }
}

