.invoice-manager {
  .top-rim{
    .navbar{
      .brand-logo{
        h1{
          font-size: 0.5em;
        }
        img{
          width : auto;
          max-height: 5em;
          cursor: pointer;
        }
      }
      .navbar-nav{
        margin-top: 0.7em;
        li>a{
          color: black;
          font-weight: bold;
        }
      }
      .status-indicator{
        margin-top: 0.7em;
        .fa-circle,.fa-pause-circle{
          color: white;
        }
      }
    }
  }
}