.invoice-manager{
  .top-rim{
    .navbar{
      height:80px;
      border-radius: 0px;
      .brand-logo{
        max-width: 300px;
        .menu-bar{
          display: inline-block;
          width: 22%;
          text-align: center;
          font-size: 30px;
          float: left;
          i {
            margin-top: 22px;
            color: white;
            cursor: pointer;
            outline: none;
          }
        }
        .company-logo{
          width: 75%;
          float: left;
          display: inline-block;
          img{
            width: 260px;
            margin-top: 12px;
            cursor: pointer;
          }
        }
      }
      .navbar-nav{
        margin-top: 0.7em;
        li>a{
          color: black;
          font-weight: bold;
        }
      }
      .status-indicator{
        margin-top: 0.7em;
        .fa-circle,.fa-pause-circle,.fa-play-circle{
          color: white;
        }
      }

      .left-panel-navbar {
        z-index: 10000000;
        position: fixed;
        left:0;
        top:0;
        width:300px;
        bottom: 0;
        background:black;
        transition: all .3s ease-in-out;
        &.ng-hide{
          left:-300px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            &.company-nav-logo{
              img{
                width: 66%;
                margin: 30px 0 30px 10px;
                display: inline;
                outline: none;
              }
              i{
                font-size: 50px;
                color: white;
                display: inline;
                width: 10%;
                right: 25px;
                position: absolute;
                outline: none;
                margin-top: 0;
                -webkit-text-stroke: 7px black;
              }
            }
            display: block;
            span{
              padding: 10px 15px;
              color:white;
              display: block;
              font-size: 18px;
              outline: none;
              &:hover {
                background: orange;
                text-decoration: none;
              }
              &.active {
                background: orange;
                text-decoration: none;
              }
            }

          }
        }
      }
    }
    @media (max-width: 768px){
      .navbar{
        .brand-logo {
          max-width: 100%;
          .menu-bar{
            width: 60px;
          }
          .company-logo{
            width: calc(100% - 60px);
            text-align: center;
            img {
              width: 220px;
              margin-left: -28px;
            }
          }
        }
      }
    }
  }
}
