.invoice-manager {
  .navbar{
    .navbar-right{
      margin: 0;
      ul{
        margin: 0;
        list-style: none;
        li{
          float: left;
          font-size: 20px;
          color: white;
          margin: 10px;
          i{
            outline: none;
          }
        }
      }
    }
    height:60px;
    border-radius: 0px;
    border:none;
    box-shadow: 0 1px 5px black;
    .brand-logo{
      max-width: 300px;
      .menu-bar{
        display: inline-block;
        width: 22%;
        text-align: center;
        font-size: 30px;
        float: left;
        i {
          margin-top: 15px;
          color: white;
          cursor: pointer;
          outline: none;
        }
      }
      .company-logo{
        width: 75%;
        float: left;
        display: inline-block;
        &:focus {
            outline: none;
        }
        img{
          width: auto;
          height: 48px;
          margin-top: -9px;
          cursor: pointer;
        }
        span {
          font-size: 44px;
          font-weight: bold;
          padding: 1px;
          color: white;
        }
      }
    }
    .navbar-nav{
      margin-top: 0.7em;
      li>a{
        color: black;
        font-weight: bold;
      }
    }
    .status-indicator{
      margin-top: 0.7em;
      .fa-circle,.fa-pause-circle,.fa-play-circle{
        color: white;
      }
    }
    .nav-wrapper {
      position: fixed;
      z-index: 10000000;
      left:0;
      top:0;
      right: 0;
      bottom: 0;
      transition: all .3s ease-in-out;
      &.ng-hide{
        left:-100%;
      }
      .left-panel-navbar {
        z-index: 10000000;
        position: fixed;
        left:0;
        top:0;
        width:300px;
        bottom: 0;
        background:black;
        transition: all .3s ease-in-out;
        &.ng-hide{
          left:-300px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            ul {
              height: 0;
              display: none;
              transition: all 1s ease-in-out;
            }
            &:hover {
              ul {
                display: block;
                height: auto;
                li{
                  background: gray;
                }
              }
            }
            &.company-nav-logo{
              div{
                div{
                  display: inline-block;
                  height: 76px;
                  img {
                    height: 74px;
                    width: 80px;
                    margin: 12px 0 0 10px;
                    display: inline;
                    outline: none;
                    float: left;
                  }
                  b{
                    font-size: 62px;
                    font-weight: bolder;
                    color: white;
                    line-height: 60px;
                  }
                }
              }
              i.close-menu{
                font-size: 50px;
                color: white;
                display: inline;
                width: 10%;
                top: 25px;
                right: 25px;
                position: absolute;
                outline: none;
                margin-top: 0;
                -webkit-text-stroke: 7px black;
              }
            }
            display: block;
            span{
              padding: 10px 15px;
              color:white;
              display: block;
              font-size: 18px;
              outline: none;
              &.sub-menu {
                &:after {
                  content: ">";
                  float: right;
                  font-size: 18px;
                }
              }
              &:hover {
                background: orange;
                text-decoration: none;
              }
              &.active {
                background: orange;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px){
    .navbar{
      .brand-logo {
        max-width: 100%;
        .menu-bar{
          width: 60px;
        }
        .company-logo{
          width: calc(100% - 60px);
          text-align: center;
          &:focus {
            outline: none;
          }
          img {
            width: auto;
            margin-left: -28px;
          }
        }
      }
    }
  }
}

.pulse {
  text-align: center;
  font-size: 40px;
  color: #fff;
  animation: beat 1s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
  from{transform: scale(0); opacity: 1}
  to { transform: scale(1.4); opacity: .5}
}